doctype html
html
  head
    meta(name='viewport',content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/pure_0.6.0/pure-min.css')
  body
    block content
