extends layout

block content
  div(class="header")
      div(class="pure-menu pure-menu-horizontal")
        a(class="pure-menu-heading pure-menu-link",href="#") EDMS - Employee Data Management System
        ul(class="pure-menu-list")
          li(class="pure-menu-item")
            a(class="pure-menu-link",href="/employees/register") Register
  div(class="content")
    p= msg
    form(class="pure-form pure-form-aligned",action="/employees/login",method="post")
      fieldset
        legend Employee Login
        div(class="pure-control-group")
          label(for="userName") User Name
          input(type="text",placeholder="User Name",id="userName",name="userName",required)
        div(class="pure-control-group")
          label(for="password") Password
          input(type="password",placeholder="Password",id="password",name="password",required)
        div(class="pure-controls")
          button(type="submit",class="pure-button pure-button-primary") Login
